html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alles {
 /*   min-width: 650px; */
    border: 1px solid black;
    margin: auto ;
}

h1 {
    text-align: center;
    background-color: #7fffd4;
    
}

.postcode-lijst ul {
    border: 1px solid blue;
/*    overflow-x: scroll;
    overflow-y: hidden; */
}

li a {
    color: #d3131d;
}

li a:hover {
    background-color: #daa520;
}

p {
    text-align: justify;
}
